/* Diseño del cuerpo */
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background: linear-gradient(150deg, #961f1f, #262626);
    color: white;
}

/* Barra de navegación */
nav {
    background-color: #2c2c2c;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navegación centrada */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #919191;
}

/* Sección de encabezado */
header {
    text-align: center;
    padding: 150px 20px 50px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header p {
    font-size: 24px;
    color: #adadad;
}

/* Sección de información del estudiante */
#informacion {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
    font-size: 18px;
}

#informacion h2 {
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 2px solid #adadad;
    padding-bottom: 10px;
}

#informacion p {
    color: #e6e6e6;
    line-height: 1.6;
}

/* Sección de boletín y tabla de calificaciones */
#boletin {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    font-size: 15px;
}

#boletin h2 {
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 2px solid #adadad;
    padding-bottom: 10px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #adadad;
}

th, td {
    padding: 10px;
    text-align: center;
    color: #e6e6e6;
}

th {
    background-color: #2c2c2c;
    font-size: 18px;
}

td {
    background-color: #3d3d3d;
}

td output {
    color: white;
}

/* Ajustes para dispositivos pequeños */
@media (max-width: 768px) {
    header h1 {
        font-size: 32px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        padding: 30px 10px;
    }

    table, th, td {
        font-size: 14px;
    }
}
